<h1>Showing selected article</h1>

<p class="">Title: <%= @article.title %></p>

<p class="">Decsription: <%= @article.description %></p>

<%= link_to  "Edit this article", edit_article_path(@article) %> <br />
<%= link_to  "Back to articles listing", articles_path %>
