<div class="row">
  <div class="col-sm-12">
    <div class="center jumbotron">
      <h1 class="home-title"><span>STYLTS</span><span class="span2">BLOG</span></h1>
      <%= link_to  "Sign Up Now", signup_path, class: "btn btn-secondary btn-lg jumbo-btn" %>
    </div>
  </div>
</div>
