$primary-color: #666;
$secondary-color: #6ce;
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Germania+One');

/* Global */
body {
  background-image: asset-url("jumbo.jpg");
}
a {
  text-decoration: none;
}
.container {
  min-height: calc(100vh - 60px);
}
.form-container {
  background: #fff;
  padding: 1px 0 25px 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.4);
  height: 80vh;
}
/* Header */
.navbar-default {
  background: #141e30;
  background: -webkit-linear-gradient(to left, #141e30, #243b55);
  background: linear-gradient(to left, #141e30, #243b55);
  border-radius: 0px !important;
  border: none;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.4);
}
.navbar li a{
  color: #fff !important;
  &:hover {
    color: $secondary-color !important;
  }
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: rgba(0, 0, 0, 0.0) !important;
  // color: #fff !important;
}
.dropdown-menu {
  background: $secondary-color;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.4);
  li > a:hover {
    background-color: $secondary-color;
    color: $primary-color !important;
  }
}

#logo {
  float: left;
  font-size: 2.3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Germania One', cursive;
  &:hover {
    color: $secondary-color;
    text-decoration: none;
  }
}

/* Home Pge */
.center {
  text-align: center;
}

.jumbotron {
  margin: 5rem auto;
  background-image: asset-url("img3.jpg");
  background-size: cover;
  background-position: top;
  height: 400px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.9);
  h1 {
    text-shadow: 3px 3px 10px #000;
    font-size: 10em;
  }
  span {
    font-family: 'Germania One', cursive;
    &:hover {
      color: $secondary-color;
    }
  }
  .span2 {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }
  .jumbo-btn {
    background: #111;
    color: #fff;
    border-style: outset;
    padding: 2rem;
    font-size: 2rem;
    box-shadow: 0 2px 6px 2px #fff;
    transition: box-shadow 0.7s;
    &:hover {
      transform: scale(1.04);
      box-shadow: 0 -2px 6px 2px #fff;
    }
  }
}

/* Footer */
footer {
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $primary-color;
  color: $primary-color;
  height: 60px;
  line-height: 50px;
  text-align: center;
  ul {
    list-style: none;
    li {
      display: inline;
      padding-right: 50px;
      a {
        color: $primary-color;
        &:hover{
          text-decoration: none;
          color: $secondary-color
        }
      }
    }
  }
}