$primary-color: #666;
$secondary-color: #6ce;
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Germania+One');

/* Global */
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: asset-url("jumbo.jpg");
  min-height: 100%;
}
.container {
  padding-top: 100px;
  min-height: calc(100vh - 60px);
}
a {
  text-decoration: none;
}
.btn {
  border-radius: 0;
}

/* Header */
.navbar-default {
  margin-top: 20px;
  background: #141e30;
  background: -webkit-linear-gradient(to left, #141e30, #243b55);
  background: linear-gradient(to left, #141e30, #243b55);
  border-radius: 0px !important;
  border: none;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.7);
  height: 80px;
  line-height: 60px;
}
.navbar li a{
  line-height: 50px;
  color: #fff !important;
  &:hover {
    color: $secondary-color !important;
  }
}
.navbar-form {
  input {
    border-radius: 0;
  }
  .btn {
  margin-top: 2px;
  padding: 7px;
  }
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: rgba(0, 0, 0, 0.0) !important;
  // color: #fff !important;
}
.dropdown-menu {
  background: $secondary-color;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.4);
  li > a:hover {
    background-color: $secondary-color;
    color: $primary-color !important;
  }
}
.navbar-toggle {
  background-color: $secondary-color !important;
  margin-top: 22px;
}
#bs-example-navbar-collapse-1 {
  background: linear-gradient(to left, #141e30, #243b55);
}

#logo {
  float: left;
  font-size: 3em;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Germania One', cursive;
  &:hover {
    color: $secondary-color;
    text-decoration: none;
  }
}

/* Errors Messages */
.error-messages {
  margin-top: 3em;
  margin-bottom: -2em;
}

/* Home Page */
.center {
  text-align: center;
}

.jumbotron {
  margin: 5rem auto;
  background-image: asset-url("img3.jpg");
  background-size: cover;
  background-position: top;
  height: 400px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.8);
  h1 {
    text-shadow: 3px 3px 10px #000;
    font-size: 10em;
  }
  span {
    font-family: 'Germania One', cursive;
    color: #fff;
    &:hover {
      color: $secondary-color;
    }
  }
  .span2 {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }
  .jumbo-btn {
    background: #111;
    border-radius: 0;
    color: #fff;
    border-style: outset;
    padding: 2rem;
    font-size: 2rem;
    box-shadow: 0 2px 6px 2px #fff;
    transition: box-shadow 0.7s;
    &:hover {
      transform: scale(1.04);
      box-shadow: 0 -2px 6px 2px #fff;
    }
  }
}

/* Form Pages */
.form-container {
  margin-top: 80px;
  background: #fff;
  padding: 1px 0 25px 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.4);
  height: 100%;
}

/* Show Page */
.show-container {
  margin-top: 80px;
  background: #fff;
  padding: 1px 0 25px 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.4);
  height: 100%;
}
.description {
  margin-top: 0;
}
.article-actions {
  border-top: 1px solid #aaa;
  padding-top: 5px;
}

.badge {
  background: linear-gradient(to right, #141e30, #243b55);
  padding: 4px;
  padding-left: 6px;
  margin: 0 1px;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  a {
    color: #fff !important;
    text-align: center;
    &:hover {
      color: $secondary-color !important;
    }
  }
}
.input-checkbox {
  width: auto !important;
}

/* Articles Page */
.article-index {
  margin-bottom: -25px;
}
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}
.article-body {
  border-top: 1px solid #aaa;
  padding-top: 15px;
  padding-bottom: 15px;
}
.article-meta-details {
  border-top: 1px solid #aaa;
  margin-top: 15px;
  small p {
    margin-bottom: -12px;
  }
}

/* Users Page */
.listing {
  list-style: none;
  padding-left: 0;
}

/* Pagination */
.pagination {
  color: $secondary-color;
  .prev {
    a {
      background: linear-gradient(to right, #141e30, #243b55);
      color: $secondary-color;
      &:hover {
        background: linear-gradient(to right, #141e30, #243b55);
        color: #fff;
      }
    }
  }
  .active {
    a {
      background: #fff;
      color: #141e30;
      &:hover {
        background: $secondary-color;
      }
    }
  }
  .next_page {
    a {
      background: linear-gradient(to left, #141e30, #243b55);
      color: $secondary-color;
      &:hover {
        color: #fff;
        background: linear-gradient(to left, #141e30, #243b55);
      }
    }
  }
}
.pagination > li > a {
  background: #243b55;
  color: $secondary-color;
  &:hover {
    color: #fff;
    background: #243b55;
  }
}

/* Footer */
footer {
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $primary-color;
  color: #141e30;
  height: 60px;
  line-height: 50px;
  text-align: center;
  ul {
    list-style: none;
    li {
      display: inline;
      padding-right: 50px;
      a {
        color: #141e30;
        &:hover{
          text-decoration: none;
          color: $secondary-color
        }
      }
    }
  }
}