<div>
  <footer class="footer">
    <nav>
      <ul>
        <li>Copyright &copy <a href="prymecreator.com">Pryme Media & Creations</a></li>
        <li><%= link_to  "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>